$mainColor: #088178;
$navColor: #E3E6F3;
$p-color: #465b52;
$borderColor: #cce7d0;
$grayColor: #333;
/////** background color */

$first-bg: #fddde4;
$sec-bg: #cdebbc;
$third-bg: #d1e8f2;
$fourth-bg: #cdd4f8;
$fifth-bg: #f6dbf6;
$six-bg: #fff2e5;

$cart-hoverd: #e8f6ea;

////* basic**/

$span-col-title: #606063;
$starColor: rgb(243, 181, 25);
$off-color: #ef3636;
$banner-color: #ec544e;
$span-color: #ffbd27;